
.chartHolder {

    width: 100%;
    margin-bottom: 60px; 

}







 #lineChart { 

    width: 130%; 
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;

}


.chartHolder  > div:first-child { 

    display: flex;
    justify-content: center;
    align-items: center;
    

} 